{% extends 'financial/base.html' %}

{% block title %}
   Edit Contribution
{% endblock title %}

{% block main_content %}

<div class="container card">
    <div class="card-header">
        <h5 class="card-title">Edit Contribution</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="contributor_name">Contributor Name</label>
                <input type="text" class="form-control" id="contributor_name" name="contributor_name" value="{{ contribution.contributor_name }}" placeholder="Enter contributor name">
            </div>
            <div class="form-group">
                <label for="organization">Organization</label>
                <input type="text" class="form-control" id="organization" name="organization" value="{{ contribution.organization }}" placeholder="Enter organization">
            </div>
            <div class="form-group">
                <label for="source">Source</label>
                <input type="text" class="form-control" id="source" name="source" value="{{ contribution.source }}" placeholder="Enter source">
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" id="amount" name="amount" value="{{ contribution.amount }}" placeholder="Enter amount">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" value="{{ contribution.date }}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter description">{{ contribution.description }}</textarea>
            </div>
            <div class="card-footer">
                <div class="form-row">
                  <div>
                    {% if messages %}
                      <div class="col-12">
                        {% for message in messages %}
                          {% if message.tags == 'error' %}
                            <div class="alert alert-danger">{{ message }}</div>
                          {% elif message.tags == 'success' %}
                            <div class="alert alert-primary">{{ message }}</div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
            </div>
            <div class="form-group">
                <a href="{% url 'financial_management:contribution_list' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock main_content %}
