{% extends 'financial/base.html' %}

{% block title %}
   Delete Contribution
{% endblock title %}

{% block main_content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Delete Contribution</h5>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete this contribution?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Cancel</button>
                <a href="{% url 'financial_management:contribution_list' %}" class="btn btn-secondary">Delete</a>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}
