{% extends 'student_template/base_template.html' %}
{% block title %}
    Invoice List
{% endblock title %}
{% block page_title %}
    Invoice List
{% endblock page_title %}

{% block main_content %}
   <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">                
                    <div class="card-body">
                        <table class="table table-bordered table-striped" id="example">
                            <thead>
                                <tr>
                                    <th>Student</th>
                                    <th>Service</th>
                                    <th>Amount Paid</th>
                                    <th>Amount Required</th>
                                    <th>Amount Remaining</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoices %}
                                    <tr>
                                        <td>{{ invoice.student.admin.first_name }} {{ invoice.student.admin.last_name }}</td>
                                        <td>{{ invoice.service.service_name }}</td>
                                        <td>Tsh{{ invoice.amount_paid }}</td>
                                        <td>Tsh{{ invoice.amount_required }}</td>
                                        <td>Tsh{{ invoice.amount_remaining }}</td>
                                        <td>{% if invoice.is_paid %}Paid{% else %}Not Paid{% endif %}</td>
                                    </tr>                         
                             
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>
    
   {% include 'student_template/datatable.html' %}
{% endblock main_content %}
