
{% extends "base.html" %}

{% block title %}
   Add Staff Salary
{% endblock title %}
{% block main_content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Add Staff Salary</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="staff_member" class="form-label">Staff Member</label>
                    <select class="form-select" id="staff_member" name="staff_member" required>
                        <option value="" disabled selected>Select Staff Member</option>
                        {% for staff_member_id, staff_member_name in staff_members %}
                        <option value="{{ staff_member_id }}">{{ staff_member_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="month" class="form-label">Month</label>
                    <input type="date" class="form-control" id="month" name="month" required>
                </div>
                <div class="mb-3">
                    <label for="paidAmount" class="form-label">Paid Amount</label>
                    <input type="number" step="0.01" class="form-control" id="paidAmount" name="paid_amount" required>
                </div>
                <div class="mb-3">
                    <label for="totalAmountRequired" class="form-label">Total Amount Required</label>
                    <input type="number" step="0.01" class="form-control" id="totalAmountRequired" name="total_amount_required" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Staff Salary</button>
            </form>
        </div>
    </div>
</div>

{% endblock main_content %}
   

