{% extends 'hod_template/base_template.html' %}
{% block page_title %}
ADMIN HOME
{% endblock page_title %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <!-- First Row -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ staff_count }}</h3>
                        <p>Total Staff</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ subject_count }}</h3>
                        <p>Total Subjects</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-book"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{ student_count }}</h3>
                        <p>Total Students</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>{{ classroom_count }}</h3>
                        <p>Total Classrooms</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chalkboard"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Second Row -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ security_count }}</h3>
                        <p>Total Security Staff</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>{{ cooker_count }}</h3>
                        <p>Total Cookers</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-utensils"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ driver_count }}</h3>
                        <p>Total Drivers</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-bus"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ cleaner_count }}</h3>
                        <p>Total Cleaners</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-broom"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ parent_count }}</h3>
                    <p>Total Parents</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ route_count }}</h3>
                    <p>Total Routes</p>
                </div>
                <div class="icon">
                    <i class="fas fa-route"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ car_count }}</h3>
                    <p>Total Car</p>
                </div>
                <div class="icon">
                    <i class="fas fa-route"></i>
                </div>
            </div>
        </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <!-- First Row -->
          <div class="col-lg-6">
              <!-- BAR CHART for Route Student Counts -->
              <div class="card card-primary">
                  <div class="card-header">
                      <h3 class="card-title">Number of Students in Each Route</h3>
                      <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="chart">
                          <canvas id="barChart5" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
      
          <div class="col-lg-6">
              <!-- BAR CHART for Staff Attendance Counts -->
              <div class="card card-secondary">
                  <div class="card-header">
                      <h3 class="card-title">Number of Attendance Taken by Each Staff</h3>
                      <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="chart">
                          <canvas id="barChart6" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
      </div>
      <!-- Second Row -->
      <div class="row">
          <div class="col-lg-6">
              <!-- BAR CHART for Driver Transport Attendance Counts -->
              <div class="card card-gray-dark">
                  <div class="card-header">
                      <h3 class="card-title">Number of Transport Attendance Taken by Each Driver</h3>
                      <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="chart">
                          <canvas id="barChart7" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
      
          <div class="col-lg-6">
              <!-- BAR CHART for Driver Leaves -->
              <div class="card card-blue">
                  <div class="card-header">
                      <h3 class="card-title">Driver Leaves Vs Attendance</h3>
                      <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="chart">
                          <canvas id="barChart8" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
      </div>
      <!-- Third Row -->
      <div class="row">
          <div class="col-lg-6">
              <!-- BAR CHART -->
              <div class="card card-lightblue">
                  <div class="card-header">
                      <h3 class="card-title">Staff Leaves Vs Attendance</h3>
                      <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="chart">
                          <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
      
          <div class="col-lg-6">
              <!-- BAR CHART -->
              <div class="card card-danger">
                  <div class="card-header">
                      <h3 class="card-title">Students Leaves Vs Attendance</h3>
                      <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="chart">
                          <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
      </div>
      <!-- Fourth Row -->
      <div class="row">
          <div class="col-lg-6">
              <!-- BAR CHART -->
              <div class="card card-success">
                  <div class="card-header">
                      <h3 class="card-title">Total transport attendance on each route</h3>
                      <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                          </button>
                          <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="chart">
                          <canvas id="barChart10" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                  </div>
                  <!-- /.card-body -->
              </div>
              <!-- /.card -->
          </div>
          <div class="col-lg-6">
            <!-- PIE CHART -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Distribution of Students by Education Level</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
      </div>
    <div class="row">
                <!-- Bar Chart Container -->
                <div class="col-lg-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Number of Students in Each Class Level</h3>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="classLevelChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Number of Staffs in Each Education Level</h3>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="staffsByEducationLevelChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Number of Subjects in Each Education Level</h3>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="subjectsByEducationLevelChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Third Row - Add more small boxes or sections as needed -->

</section>
{% endblock main_content %}

{% block customer_js %}
<script>
  // Get the canvas element
  var ctx = document.getElementById('barChart5').getContext('2d');
  var routeNames = [
    {% for route in route_student_counts %}
        "{{ route.name }}",
    {% endfor %}
];


var studentCounts = [
    {% for route in route_student_counts %}
        {{ route.total_students }},
    {% endfor %}
];

  // Define the data for the chart
  var data = {
      labels: routeNames, // Replace with your route names
      datasets: [{
          label: 'Number of Students',
          data: studentCounts, // Replace with your actual student counts for each route
          backgroundColor: [
              '#113388',
              '#993388',
              '#113322',
              '#119988',
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
          ],
          borderWidth: 1
      }]
  };
  
  // Define chart options
  var options = {
      scales: {
          y: {
              beginAtZero: true
          }
      }
  };
  
  // Create the bar chart
  var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: options
  });
  </script>

  <script>
    // Get the canvas element
    var ctx = document.getElementById('barChart6').getContext('2d');
    
    // Replace the placeholder staff names with your actual staff names from Django context
    var staffNames = [
        {% for staff in staff_attendance_counts %}
            "{{ staff.admin__username }}",
        {% endfor %}
    ];
    
    // Replace the placeholder attendance counts with your actual attendance counts from Django context
    var attendanceCounts = [
        {% for staff in staff_attendance_counts %}
            {{ staff.attendance_count }},
        {% endfor %}
    ];
    
    // Define the data for the chart
    var data = {
        labels: staffNames,
        datasets: [{
            label: 'Number of Attendance Taken',
            data: attendanceCounts,
            backgroundColor: [
            '#113388',
            '#993366',
            '#113377',
            '#119933',
            '#113344',
            '#993355',
            '#113322',
            '#119911',
            '#113399',
            '#991188',
            '#112222',
            '#113388',
            '#114488',
            '#995588',
            '#116622',
            '#117788',
            '#118888',
            '#999988',
            '#113322',
            '#229988',
            '#333388',
            '#443388',
            '#113322',
            '#229988',
            '#333388',
            '#443388',
            '#553322',
            '#669988',
            '#773388',
            '#883388',
            '#993322',
            '#123456',
            '#789101',
            '#121314',
            '#151617',
            '#181920',
            '#212223',
            '#242526',
            '#272829',
            '#303132',
            '#333435',
            '#363738',
            '#394041',
            '#424344',
            '#454647',
            '#484849',
            '#505122',
            '#569966',
            ],
          
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
        }]
    };
    
    // Define chart options
    var options = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };
    
    // Create the bar chart
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });
    </script>

    <script>
      // Get the canvas element
      var ctx = document.getElementById('barChart7').getContext('2d');
      
      // Replace the placeholder driver names with your actual driver names from Django context
      var driverNames = [
          {% for driver in driver_attendance_counts %}
              "{{ driver.admin__username }}",
          {% endfor %}
      ];
      
      // Replace the placeholder attendance counts with your actual attendance counts from Django context
      var attendanceCounts = [
          {% for driver in driver_attendance_counts %}
              {{ driver.attendance_count }},
          {% endfor %}
      ];
      
      // Define the data for the chart
      var data = {
          labels: driverNames,
          datasets: [{
              label: 'Number of Transport Attendance Taken',
              data: attendanceCounts,
              backgroundColor: [
              '#113388',
              '#993366',
              '#113377',
              '#119933',
              '#113344',
              '#993355',
              '#113322',
              '#119911',
              '#113399',
              '#991188',
              '#112222',
              '#113388',
              '#114488',
              '#995588',
              '#116622',
              '#117788',
              '#118888',
              '#999988',
              '#113322',
              '#229988',
              '#333388',
              '#443388',
              '#113322',
              '#229988',
              '#333388',
              '#443388',
              '#553322',
              '#669988',
              '#773388',
              '#883388',
              '#993322',
              '#123456',
              '#789101',
              '#121314',
              '#151617',
              '#181920',
              '#212223',
              '#242526',
              '#272829',
              '#303132',
              '#333435',
              '#363738',
              '#394041',
              '#424344',
              '#454647',
              '#484849',
              '#505122',
              '#569966',
              ],
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
          }]
      };
      
      // Define chart options
      var options = {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      };
      
      // Create the bar chart
      var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: options
      });
      </script>



      <script>
        // Get the canvas element
        var ctx = document.getElementById('barChart8').getContext('2d');
        
        // Replace the placeholder driver names with your actual driver names from Django context
        var driverNames = [
            {% for driver in driver_leave_counts %}
                "{{ driver.driver_id__admin__username }}",
            {% endfor %}
        ];
        
        // Replace the placeholder leave counts with your actual leave counts from Django context
        var leaveCounts = [
            {% for driver in driver_leave_counts %}
                {{ driver.leave_count }},
            {% endfor %}
        ];
        
        // Define the data for the chart
        var data = {
            labels: driverNames,
            datasets: [{
                label: 'Driver Leaves',
                data: leaveCounts,
                backgroundColor: [
                '#113388',
                '#993366',
                '#113377',
                '#119933',
                '#113344',
                '#993355',
                '#113322',
                '#119911',
                '#113399',
                '#991188',
                '#112222',
                '#113388',
                '#114488',
                '#995588',
                '#116622',
                '#117788',
                '#118888',
                '#999988',
                '#113322',
                '#229988',
                '#333388',
                '#443388',
                '#113322',
                '#229988',
                '#333388',
                '#443388',
                '#553322',
                '#669988',
                '#773388',
                '#883388',
                '#993322',
                '#123456',
                '#789101',
                '#121314',
                '#151617',
                '#181920',
                '#212223',
                '#242526',
                '#272829',
                '#303132',
                '#333435',
                '#363738',
                '#394041',
                '#424344',
                '#454647',
                '#484849',
                '#505122',
                '#569966',
                ],
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        };
        
        // Define chart options
        var options = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };
        
        // Create the bar chart
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
    </script>
    
      
    <script>
      // Get the canvas element
      var ctx = document.getElementById('barChart').getContext('2d');
      
      // Extract staff usernames and leave counts from the Django context
      var staffUsernames = [
          {% for staff in staff_leave_counts %}
              "{{ staff.admin__username }}",
          {% endfor %}
      ];
  
      var staffLeaveCounts = [
          {% for staff in staff_leave_counts %}
              {{ staff.leave_count }},
          {% endfor %}
      ];
  
      // Define labels for the chart
      var labels = staffUsernames;
      
      // Define the data for the chart
      var data = {
          labels: labels,
          datasets: [{
              label: 'Staff Leaves',
              data: staffLeaveCounts,
              backgroundColor: [
              '#113388',
              '#993366',
              '#113377',
              '#119933',
              '#113344',
              '#993355',
              '#113322',
              '#119911',
              '#113399',
              '#991188',
              '#112222',
              '#113388',
              '#114488',
              '#995588',
              '#116622',
              '#117788',
              '#118888',
              '#999988',
              '#113322',
              '#229988',
              '#333388',
              '#443388',
              '#113322',
              '#229988',
              '#333388',
              '#443388',
              '#553322',
              '#669988',
              '#773388',
              '#883388',
              '#993322',
              '#123456',
              '#789101',
              '#121314',
              '#151617',
              '#181920',
              '#212223',
              '#242526',
              '#272829',
              '#303132',
              '#333435',
              '#363738',
              '#394041',
              '#424344',
              '#454647',
              '#484849',
              '#505122',
              '#569966',
              ],
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
          }]
      };
      
      // Define chart options
      var options = {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      };
      
      // Create the bar chart
      var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: options
      });
  </script>  
   
  <script>
    // Get the canvas element
    var ctx = document.getElementById('barChart2').getContext('2d');
    
    // Extract student usernames and leave counts from the Django context
    var studentUsernames = [
        {% for student in student_leave_counts %}
            "{{ student.student_id__username }}",
        {% endfor %}
    ];

    var studentLeaveCounts = [
        {% for student in student_leave_counts %}
            {{ student.leave_count }},
        {% endfor %}
    ];

    // Define labels for the chart
    var labels = studentUsernames;
    
    // Define the data for the chart
    var data = {
        labels: labels,
        datasets: [{
            label: 'Student Leaves',
            data: studentLeaveCounts,
            backgroundColor: [
            '#113388',
            '#993366',
            '#113377',
            '#119933',
            '#113344',
            '#993355',
            '#113322',
            '#119911',
            '#113399',
            '#991188',
            '#112222',
            '#113388',
            '#114488',
            '#995588',
            '#116622',
            '#117788',
            '#118888',
            '#999988',
            '#113322',
            '#229988',
            '#333388',
            '#443388',
            '#113322',
            '#229988',
            '#333388',
            '#443388',
            '#553322',
            '#669988',
            '#773388',
            '#883388',
            '#993322',
            '#123456',
            '#789101',
            '#121314',
            '#151617',
            '#181920',
            '#212223',
            '#242526',
            '#272829',
            '#303132',
            '#333435',
            '#363738',
            '#394041',
            '#424344',
            '#454647',
            '#484849',
            '#505122',
            '#569966',
            ],
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        }]
    };
    
    // Define chart options
    var options = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };
    
    // Create the bar chart
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });
</script>
   
<script>
  // Get the canvas element
  var ctx = document.getElementById('barChart10').getContext('2d');
  
  // Replace the placeholder labels with actual route names
  var routeNames = [
      {% for route in route_transport_attendance_counts %}
          "{{ route.name }}",
      {% endfor %}
  ];
  
  // Replace the placeholder attendance counts with actual data
  var attendanceCounts = [
      {% for route in route_transport_attendance_counts %}
          {{ route.total_transport_attendance }},
      {% endfor %}
  ];
  
  // Define the data for the chart
  var data = {
      labels: routeNames,
      datasets: [{
          label: 'Total Transport Attendance',
          data: attendanceCounts,
            backgroundColor: [
            '#113388',
            '#993366',
            '#113377',
            '#119933',
            '#113344',
            '#993355',
            '#113322',
            '#119911',
            '#113399',
            '#991188',
            '#112222',
            '#113388',
            '#114488',
            '#995588',
            '#116622',
            '#117788',
            '#118888',
            '#999988',
            '#113322',
            '#229988',
            '#333388',
            '#443388',
            '#113322',
            '#229988',
            '#333388',
            '#443388',
            '#553322',
            '#669988',
            '#773388',
            '#883388',
            '#993322',
            '#123456',
            '#789101',
            '#121314',
            '#151617',
            '#181920',
            '#212223',
            '#242526',
            '#272829',
            '#303132',
            '#333435',
            '#363738',
            '#394041',
            '#424344',
            '#454647',
            '#484849',
            '#505122',
            '#569966',
            ], // You can customize the color
          borderColor: 'rgba(75, 192, 192, 1)', // You can customize the color
          borderWidth: 1
      }]
  };
  
  // Define chart options
  var options = {
      scales: {
          y: {
              beginAtZero: true
          }
      }
  };
  
  // Create the bar chart
  var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: options
  });
</script>

<script>
    // Convert Django QuerySet to a list of strings
    var educationLevels = [{% for level in education_levels %}"{{ level }}", {% endfor %}];

    // Convert Django dictionary to a JavaScript array of numbers
    var educationLevelCounts = Object.values({% autoescape off %}{{ education_level_counts }}{% endautoescape %});

    console.log(educationLevels);
    console.log(educationLevelCounts);

    // Get the canvas element
    var ctx = document.getElementById('pieChart').getContext('2d');

    // Create the pie chart
    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: educationLevels,
            datasets: [{
                data: educationLevelCounts,
                backgroundColor: [
                    '#FF6384',
                    '#36A2EB',
                    '#FFCE56',
                    // Add more colors if you have more education levels
                ],
            }],
        },
    });
</script>

<script>
    // Get the data for the bar chart from your context data
    var classLevels = {{ class_levels|safe }};
    var numStudents = {{ num_students|safe }};

    // Get the canvas element
    var ctx = document.getElementById('classLevelChart').getContext('2d');

    // Create the bar chart
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: classLevels,
            datasets: [{
                label: 'Number of Students',
                data: numStudents,
                backgroundColor: [
                '#113388',
                '#993366',
                '#113377',
                '#119933',
                '#113344',
                '#993355',
                '#113322',
                '#119911',
                '#113399',
                '#991188',
                '#112222',
                '#113388',
                '#114488',
                '#995588',
                '#116622',
                '#117788',
                '#118888',
                '#999988',
                '#113322',
                '#229988',
                '#333388',
                '#443388',
                '#113322',
                '#229988',
                '#333388',
                '#443388',
                '#553322',
                '#669988',
                '#773388',
                '#883388',
                '#993322',
                '#123456',
                '#789101',
                '#121314',
                '#151617',
                '#181920',
                '#212223',
                '#242526',
                '#272829',
                '#303132',
                '#333435',
                '#363738',
                '#394041',
                '#424344',
                '#454647',
                '#484849',
                '#505122',
                '#569966',
                ], // You can customize the color
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    var educationLevels = [{% for level in education_levels %}"{{ level }}", {% endfor %}];
    var staffsCounts = {{ staffs_counts|safe }};
    console.log(educationLevels)
    var ctx = document.getElementById('staffsByEducationLevelChart').getContext('2d');

    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: educationLevels,
            datasets: [{
                data: staffsCounts,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    // Add more colors if needed
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    // Add more colors if needed
                ],
                borderWidth: 1
            }]
        },
        options: {
            // Add options as needed
        }
    });
</script>

<script>
    var educationLevels = {{ education_levels_json|safe }};

    var ctx = document.getElementById('subjectsByEducationLevelChart').getContext('2d');

    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: educationLevels.map(item => item.fields.name),
            datasets: [{
                data: educationLevels.map(item => item.fields.subject_count),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    // Add more colors if you have more education levels
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    // Add more colors if you have more education levels
                ],
                borderWidth: 1
            }]
        },
    });
</script>


{% endblock customer_js %}