{% extends 'hod_template/base_template.html' %}

{% block title %}
List of  Role List
{% endblock title %}

{% block page_title %}
List of  Role List
{% endblock page_title %}

{% block breadcrumb %}
    <a class="btn btn-primary" href="{% url 'render_staff_role_assignment_form' %}">
        <i class="fas fa-user-plus"></i> Assign Staff Role
    </a>
{% endblock breadcrumb %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                
                    <div class="card-body">
                        <div class="">
                            <div>
                                {% if messages %}
                                    <div class="col-12">
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert alert-danger">{{ message }}</div>
                                            {% elif message.tags == 'success' %}
                                                <div class="alert alert-primary">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        <table class="table table-bordered table-striped" id="example">
                            <thead>
                                <tr>
                                    <th>Staff Member</th>
                                    <th>Role</th>
                                    <th>Assigned Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assignment in staff_assignments %}
                                    <tr>
                                        <td>{{assignment.staff.admin.first_name}}  {{assignment.staff.admin.last_name}}</td>
                                        <td>{{ assignment.role }}</td>
                                        <td>{{ assignment.assigned_date }}</td>
                                        <td>
                                            <a href="{% url 'edit_staff_role' assignment.id %}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Edit Assignment">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="{% url 'delete_staff_role' assignment.id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete Assignment" onclick="return confirm('Are you sure you want to delete this assignment?');">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4">No staff assignments found.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'hod_template/datatable.html' %}
{% endblock main_content %}
