{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Security
{% endblock page_title %}

{% block breadcrumb %}
    <a class="btn btn-primary" href="{% url 'add_security_person' %}">
        <i class="fas fa-plus"></i> New Security
    </a>
    <!-- Add more breadcrumb links if needed -->
{% endblock breadcrumb %}

{% block main_content %}
    <section class="content">
        <div class="container-fluid">
            <div class="content-wrappe">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-12">
                                <!-- Cooker Details table -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Security Details</h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                        <div class="form-row">
                                            <div>
                                                {% if messages %}
                                                    <div class="col-12">
                                                        {% for message in messages %}
                                                            {% if message.tags == 'error' %}
                                                                <div class="alert alert-danger">{{ message }}</div>
                                                            {% elif message.tags == 'success' %}
                                                                <div class="alert alert-primary">{{ message }}</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                    <th>Contact Number</th>
                                                    <th>Address</th>
                                                    <th>Date of Birth</th>
                                                    <th>Gender</th>
                                                    <th>Profile Picture</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for security in securitys %}
                                                    <tr>
                                                        <td>{{ security.admin.get_full_name }}</td>
                                                        <td>{{ security.contact_number }}</td>
                                                        <td>{{ security.address }}</td>
                                                        <td>{{ security.date_of_birth }}</td>
                                                        <td>{{ security.gender }}</td>
                                                        <td>
                                                            {% if security.profile_pic %}
                                                                <img src="{{ security.profile_pic }}" alt="Profile Picture" width="100" height="100">
                                                            {% else %}
                                                                No Image
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <form method="POST" action="{% url 'update_security_status' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="user_id" value="{{ security.admin.id }}">
                                                                <input type="hidden" name="is_active" value="{% if security.admin.is_active %}1{% else %}0{% endif %}">
                                                                <input
                                                                    type="checkbox"
                                                                    data-toggle="switchbutton"
                                                                    data-size="xs"
                                                                    data-onlabel="Active"
                                                                    data-offlabel="Inactive"
                                                                    data-offstyle="danger"
                                                                    data-onstyle="success"
                                                                    {% if security.admin.is_active %}checked{% endif %}
                                                                    onchange="submitForm(this)"
                                                                >
                                                            </form>
                                                        </td>
                                                        
                                                        <td>
                                                            <a href="{% url 'update_security_info' security_id=security.id %}" class="btn btn-success" data-toggle="tooltip" title="Edit Security">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a href="{% url 'delete_security' security_id=security.id  %}" class="btn btn-danger" data-toggle="tooltip" title="Delete security">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                            <a href="{% url 'view_security_info' security_id=security.id %}" class="btn btn-info" data-toggle="tooltip" title="View Security Details">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                            <!-- Add more actions/buttons as needed -->
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>




    {% endblock main_content %}


