{% extends 'hod_template/base_template.html' %}

{% block title %}
   All Subjects    
{% endblock title %}

{% block page_title %}
   All Subjects    
{% endblock page_title %}

{% block breadcrumb %}
    <a class="btn btn-primary" href="{% url 'addsubject' %}">
        <i class="fas fa-plus"></i> New subjects
    </a>
{% endblock breadcrumb %}

{% block main_content %}
<div >
 

    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm" id="example" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject Name</th>
                <th>School Level</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.subject_name }}</td>
                    <td>{{ subject.education_level }}</td>

                    <td class="text-center">
                        <a href="{% url 'subject_details' subject_id=subject.id %}" title="View">
                            <button type="button" class="btn btn-light border btn-sm">
                                <i class="fa fa-eye text-dark"></i>
                            </button>
                        </a>
                        <a href="{% url 'edit_subject' subject_id=subject.id %}" title="Edit">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-edit text-white"></i>
                            </button>
                        </a>
                        <a href="{% url 'delete_subject' subject_id=subject.id %}" class="btn btn-danger" data-toggle="tooltip" title="Delete subject">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'hod_template/datatable.html' %}


{% endblock main_content %}
