{% extends 'hod_template/base_template.html' %}

{% block title %}
List of  Cookers
{% endblock title %}
{% block page_title %}
List of  Cookers
{% endblock page_title %}

{% block breadcrumb %}
    <a class="btn btn-primary" href="{% url 'add_cooker' %}">
        <i class="fas fa-plus"></i> New Cooker
    </a>
    <!-- Add more breadcrumb links if needed -->
{% endblock breadcrumb %}

{% block main_content %}

                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-12">
                                <!-- Cooker Details table -->
                                <div class="card ">
                                  
                                    <div class="card-body table-responsive p-0">
                                        <div class="form-row">
                                            <div>
                                                {% if messages %}
                                                    <div class="col-12">
                                                        {% for message in messages %}
                                                            {% if message.tags == 'error' %}
                                                                <div class="alert alert-danger">{{ message }}</div>
                                                            {% elif message.tags == 'success' %}
                                                                <div class="alert alert-primary">{{ message }}</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>    
                                        <table class="table table-hover text-nowrap table-bordered table-striped table-sm" id="example">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                    <th>Contact Number</th>
                                                    <th>Address</th>
                                                    <th>Date of Birth</th>
                                                    <th>Gender</th>
                                                    <th>Profile Picture</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for cooker in cookers %}
                                                    <tr>
                                                        <td>{{ cooker.admin.get_full_name }}</td>
                                                        <td>{{ cooker.contact_number }}</td>
                                                        <td>{{ cooker.address }}</td>
                                                        <td>{{ cooker.date_of_birth }}</td>
                                                        <td>{{ cooker.gender }}</td>
                                                        <td>
                                                            {% if cooker.profile_pic %}
                                                                <img src="{{ cooker.profile_pic }}" alt="Profile Picture" width="100" height="100">
                                                            {% else %}
                                                                No Image
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <form method="POST" action="{% url 'update_cooker_status' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="user_id" value="{{ cooker.admin.id }}">
                                                                <input type="hidden" name="is_active" value="{% if cooker.admin.is_active %}1{% else %}0{% endif %}">
                                                                <input
                                                                    type="checkbox"
                                                                    data-toggle="switchbutton"
                                                                    data-size="xs"
                                                                    data-onlabel="Active"
                                                                    data-offlabel="Inactive"
                                                                    data-offstyle="danger"
                                                                    data-onstyle="success"
                                                                    {% if cooker.admin.is_active %}checked{% endif %}
                                                                    onchange="submitForm(this)"
                                                                >
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'update_cooker_info' cooker_id=cooker.id %}" class="btn btn-success" data-toggle="tooltip" title="Edit Cooker">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a href="{% url 'delete_cooker' cooker_id=cooker.id  %}" class="btn btn-danger" data-toggle="tooltip" title="Delete delete">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>
                                                            <a href="{% url 'view_cooker_info' cooker_id=cooker.id %}" class="btn btn-info" data-toggle="tooltip" title="View Cooker Details">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                            <!-- Add more actions/buttons as needed -->
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

    <script>
        function submitForm(checkbox) {
            checkbox.form.submit();
        }
    </script>
    {% include 'hod_template/datatable.html' %}
    {% endblock main_content %}


