{% extends 'hod_template/base_template.html' %}
{% block title %}
AL-MUJTABAA PRIMARY SCHOOL TIMETABLE  
{% endblock title %}
{% block page_title %}
AL-MUJTABAA PRIMARY SCHOOL TIMETABLE  
{% endblock page_title %}
{% block breadcrumb %}
   
{% endblock breadcrumb %}
{% block main_content %}
<div class="table-responsive">
  <div class="table-responsive">
    <div class="container">
        <div class="row">
     
           <table id="table13">
            
            <colgroup>
                <col span="1" style="background-color: burlywood;">
            </colgroup>
            <tr style="background-color: cyan;">
                <th> </th>
                <th> </th>
                <th> 1 </th>
                <th> 2 </th>
                <th> 3 </th>
                <th> 4 </th>
                <th> </th>
                <th> 5 </th>
                <th> 6 </th>
                <th> </th>
                <th> 7 </th>
                <th> 8 </th>
                <th> </th>
                <th> 9 </th>
                <th> 10 </th>
                <th> </th>
                <th colspan="2"> REMEDIAL </th>
            </tr>
            <tr style="background-color: burlywood;">
                <th> DAY </th>
                <th> FORM </th>
                <th> 7:40 <br> 8:20 </th>
                <th> 8:20 <br> 9:00 </th>
                <th> 9:00 <br> 9:40 </th>
                <th> 9:40 <br> 10:20 </th>
                <th style="background-color: ghostwhite"> 10:20 <br> 11:00 </th>
                <th> 11:00 <br> 11:40 </th>
                <th> 11:40 <br> 12:20 </th>
                <th style="background-color: ghostwhite;"> 12:20 <br> 12:30 </th>
                <th> 12:30 <br> 1:10 </th>
                <th> 1:10 <br> 1:50 </th>
                <th style="background-color: ghostwhite;"> 1:50 <br> 2:40 </th>
                <th> 2:40 <br> 3:20 </th>
                <th>3:20 <br> 4:00 </th>
                <th style="background-color: ghostwhite;"> 4:00 <br> 4:10 </th>
                <th> 4:10 <br> 4:40 </th>
                <th> 4:40 <br> 5:10 </th>
            </tr>
            <tr  style="background-color:lightblue ;">
                <th rowspan="7" style="background-color: burlywood;"> MON </th>
                <td style="color: red;background-color: rgb(200,200,200);"> I </td>
                <td> CHEM </td>
                <td> CHEM </td>
                <td> HIST </td>
                <td> HIST </td>
                <td rowspan="35" style="background-color:  rgb(200,200,200);color: purple; text-align: center;font-size:50px"> <b> B <br> R <br> E <br> A <br> K  </b> </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td rowspan="35" style="background-color: black;color: purple; text-align: center;font-size: 50px;"> <b> P <br> R <br> A <br> Y <br> E <br> R </b> </td>
                <td> ENG </td>
                <td> ENG </td>
                <td rowspan="35" style="background-color:  rgb(200,200,200);color: purple;text-align: center;font-size: 50px;"> <b> L <br> U <br> N <br> C <br> H </b> </td>
                <td> KISW </td>
                <td> KISW  </td>
                <td rowspan="35" style="background-color: black;color: purple;text-align: center;font-size: 50px;"> <b> P <br> R <br> A <br> Y <br> E <br> R </b> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr style="background-color:gold;">
                <td style="color: red;background-color: rgb(200,200,200);"> II </td>
                <td> PHY </td>
                <td> PHY </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> COMM </td>
                <td> COMM</td>
            </tr>
            <tr style="background-color:greenyellow">
                <td style="color: red;background-color: rgb(200,200,200);"> III </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
                <td> CHE/BK </td>
                <td> CHEM/BK </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> IV </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> CHE/BK </td>
                <td> CHE/BK </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> HIST </td>
                <td> HIST </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> V </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> CHE/BK </td>
                <td> CHE/BK </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> HIST </td>
                <td> HIST </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VI </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> CHE/BK </td>
                <td> CHE/BK </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> HIST </td>
                <td> HIST </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VII </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> CHE/BK </td>
                <td> CHE/BK </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> HIST </td>
                <td> HIST </td>
            </tr>
            <tr style="background-color:lightblue ;">
                <th rowspan="7"style="background-color: burlywood;"> TUE </th>
                <td style="color: red;background-color: rgb(200,200,200);"> I </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> PHY </td>
                <td> PHY </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> BKPG </td>
                <td> B/KPNG </td>
                <td> CHEM </td>
                <td> CHEM </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr style="background-color:gold;">
                <td style="color: red;background-color: rgb(200,200,200);"> II </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> CHEM </td>
                <td> CHEM </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> B/KPNG </td>
                <td> B/KPNG </td>
                <td> ENG </td>
                <td> ENG </td>
            </tr>
            <tr style="background-color:greenyellow">
                <td style="color: red;background-color: rgb(200,200,200);"> III </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> GEO </td>
                <td> GEO </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> IV </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> LITER </td>
                <td> LITER </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> V </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> LITER </td>
                <td> LITER </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VI </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> LITER </td>
                <td> LITER </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VII </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> LITER </td>
                <td> LITER </td>
            </tr>
            <tr style="background-color:lightblue ;">
                <th rowspan="7"style="background-color: burlywood;"> WED </th>
                <td style="color: red;background-color: rgb(200,200,200);"> I </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> COM </td>
                <td> COM </td>
                <td> GEO </td>
                <td> GEO </td>
                <td rowspan="7" colspan="2" style="text-align: center;background-color:ghostwhite;"> <b> CO-CARRICULAR <br> ACTIVITIES </b> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr style="background-color:gold;">
                <td style="color: red;background-color: rgb(200,200,200);"> II </td>
                <td> PHY </td>
                <td> PHY </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> BIO </td>
                <td> BIO</td>
                <td> CIV </td>
                <td> CIV </td>
            </tr>
            <tr style="background-color:greenyellow">
                <td style="color: red;background-color: rgb(200,200,200);"> III </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> IV </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> KISW </td>
                <td> KISW </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> V </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> KISW </td>
                <td> KISW </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VI </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> KISW </td>
                <td> KISW </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VII </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> KISW </td>
                <td> KISW </td>
            </tr>
            <tr style="background-color:lightblue ;">
                <th rowspan="7" style="background-color: burlywood;"> THU </th>
                <td style="color: red;background-color: rgb(200,200,200);"> I </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> ENG </td>
                <td> ENG </td>
                <td> B/KPNG </td>
                <td> B/KPNG </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> KISW </td>
                <td> KISW </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr style="background-color:gold;">
                <td style="color: red;background-color: rgb(200,200,200);"> II </td>
                <td> PHY </td>
                <td> PHY </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> B/KPNG </td>
                <td> B/KPNG </td>
                <td> COMM </td>
                <td> COMM </td>
                <td> KISW </td>
                <td> KISW </td>
            </tr>
            <tr style="background-color:greenyellow">
                <td style="color: red;background-color: rgb(200,200,200);"> III </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> GEO </td>
                <td> GEO </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> IV </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> V </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VI </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VII </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> GEO </td>
                <td> GEO </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> BIO </td>
                <td> BIO </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
            </tr>
            <tr style="background-color:lightblue ;">
                <th  rowspan="7" style="background-color: burlywood;"> FRI </th>
                <td style="color: red;background-color: rgb(200,200,200);"> I </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> PHY </td>
                <td> PHY </td>
                <td> BIO </td>
                <td> BIO </td>
                <td rowspan="7" colspan="2" style="text-align: center;background-color:ghostwhite;"> <b> RELIGION </b> </td>
                <td>  </td>
                <td>  </td>
                <td rowspan="7" colspan="2" style="background-color:ghostwhite;"> <b> GAMES $ SPORTS </b> </td>
            </tr>
            <tr style="background-color:gold;">
                <td style="color: red;background-color: rgb(200,200,200);"> II </td>
                <td> CHEM </td>
                <td> CHEM </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> ENG </td>
                <td> ENG </td>
            </tr>
            <tr style="background-color:greenyellow">
                <td style="color: red;background-color: rgb(200,200,200);"> III </td>
                <td> KISW </td>
                <td> KISW </td>
                <td> LITER </td>
                <td> LITER </td>
                <td> B/MATH </td>
                <td> B/MATH </td>
                <td>  </td>
                <td>  </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> IV </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> CHEM/BK </td>
                <td> CHEM/BK </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> V </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> CHEM/BK </td>
                <td> CHEM/BK </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VI </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> CHEM/BK </td>
                <td> CHEM/BK </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
            </tr>
            <tr style="background-color: indianred;">
                <td style="color: red;background-color: rgb(200,200,200);"> VII </td>
                <td> HIST </td>
                <td> HIST </td>
                <td> CIV </td>
                <td> CIV </td>
                <td> CHEM/BK </td>
                <td> CHEM/BK </td>
                <td> PHY/CO </td>
                <td> PHY/CO </td>
            </tr>
        </table>
     
        </div>
    </div>
  </div>
</div>
{% include 'hod_template/datatable.html' %}
{% endblock main_content %}
