{% extends 'hod_template/base_template.html' %}

{% block title %}
Students Reports
{% endblock title %}

{% block page_title %}
   Students Reports
{% endblock page_title %}

{% block breadcrumb %}
  
{% endblock breadcrumb %}

{% load static %}
{% block main_content %}



<div class="">
    <table class="table table-hover text-nowrap table-responsive-sm table-bordered table-striped table-sm  display"  id="example"  style="width:100%">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Full Name</th>
                <th>Education Level</th>
                <th>CURRENT CLASS</th>
                <th>Email</th>           
                <th>Gender</th>          
                <th>Registration Date</th>
             
               
            </tr>
        </thead>
        <tbody id="student-table-body">
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.admin.first_name }} {{ student.surname }} {{ student.admin.last_name }}</td>
                <td>{{ student.education_level.name }}</td>
                <td>{{ student.selected_class.name }}</td>
                <td>{{ student.admin.email }}</td>              
                <td>{{ student.gender }}</td>            
                <td>{{ student.admin.date_joined }}</td>           
      
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function submitForm(checkbox) {
        checkbox.form.submit();
    }
</script>

{% include 'hod_template/datatable.html' %}
{% endblock main_content %}



