 
{% extends 'financial/base.html' %}
{% block title %}
Accountant Dashboard
{% endblock title %}
{% block main_content %}
{% load static %}
<section class="content">
    <div class="container-fluid">
<!-- Third Row -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ paid_staff_count }}</h3>
                <p>Paid Staff</p>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{ unpaid_staff_count }}</h3>
                <p>Unpaid Staff</p>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ paid_security_count }}</h3>
                <p>Paid Security Staff</p>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{ unpaid_security_count }}</h3>
                <p>Unpaid Security Staff</p>
            </div>
            <div class="icon">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
    </div>

    <!-- Cooker -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>{{ paid_cooker_count }}</h3>
            <p>Paid Cookers</p>
        </div>
        <div class="icon">
            <i class="fas fa-dollar-sign"></i>
        </div>
    </div>
</div>
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
        <div class="inner">
            <h3>{{ unpaid_cooker_count }}</h3>
            <p>Unpaid Cookers</p>
        </div>
        <div class="icon">
            <i class="fas fa-dollar-sign"></i>
        </div>
    </div>
</div>

<!-- Driver -->
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>{{ paid_driver_count }}</h3>
            <p>Paid Drivers</p>
        </div>
        <div class="icon">
            <i class="fas fa-dollar-sign"></i>
        </div>
    </div>
</div>
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>{{ unpaid_driver_count }}</h3>
            <p>Unpaid Drivers</p>
        </div>
        <div class="icon">
            <i class="fas fa-dollar-sign"></i>
        </div>
    </div>
</div>

</div>
     
   
     
    
    </div><!-- /.container-fluid -->
  </section>

  {% endblock main_content %}

