{% extends "financial/base.html" %}

{% block title %}
   Income Analysis
{% endblock title %}
{% block main_content %}
   <!-- Display analysis results for service categories -->
   <h2>Income Analysis by Service Categories</h2>
   <ul>
       {% for service_name, stats in service_stats.items %}
           <li>{{ service_name }}:</li>
           <ul>
               <li>Total Paid: {{ stats.total_paid }}</li>
               <li>Total Remaining: {{ stats.total_remaining }}</li>
           </ul>
       {% endfor %}
   </ul>

   <!-- Display analysis results for contributions -->
   <h2>Contribution Analysis</h2>
   <p>Total Contributions: {{ contribution_stats.Contribution.total }}</p>

   <!-- Add a canvas element for the bar chart -->
   <canvas id="incomeBarChart" width="400" height="200"></canvas>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script>
    // JavaScript code for creating the bar chart
    var ctxBar = document.getElementById('incomeBarChart').getContext('2d');
    var incomeBarChart = new Chart(ctxBar, {
        type: 'bar',
        data: {
            labels: {{ service_labels|safe }},
            datasets: [{
                label: 'Income Distribution',
                data: {{ service_total_paid|safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock main_content %}
   

